@import 'reset';
@import 'vars';

html {
  background-color: var(--bg-color);
}

body {
  font-family: graphikRegular;
  font-size: 1.6rem;
  color: var(--font-blue);
  line-height: 2.8rem;

  width: 86vw;
  margin: 0 auto;
  padding: 3rem 0;

  min-height: 100vh;

  background-image: repeating-linear-gradient(90deg, var(--line-color), var(--line-color) 1px, var(--bg-color) 1px, var(--bg-color) calc(85.9vw / 7));
}

a {
  color: var(--linkred);
  font-family: graphikMedium;
  transition: transform .5s cubic-bezier(.55, 0, .1, 1);
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  &__title {
    font-family: graphikSemibold;
    font-size: 2rem;
    color: var(--font-blue);
    text-transform: uppercase;

    @apply(--hover--line);
  }
}

.header__media {
  display: flex;
}

.fa {
  margin: 0 .5rem;
  color: var(--font-blue);

  @apply(--hover);
}

.intro {
  margin-top: 15rem;

  &__title {
    font-family: graphikBold;
    font-size: 6rem;
    line-height: 7rem;
  }

  &__text {
    font-family: graphikSemibold;
    font-size: 2rem;
    margin-top: 4rem;

    & a {
      @apply(--hover--line);
    }
  }
}

.section__title--invisible {
  display: none;
}

.work {
  margin-top: 20rem;

}

.work__item {
  display: flex;
  margin: 3rem 0;
  position: relative;

  & a {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &:hover {
    cursor: pointer;

    .work__item__image img {
      transform: scale(.8);
    }

    h2 {
      color: var(--linkred);
    }
  }
}

.work__item__image {
  width: calc(86vw / 7 * 3);
  margin-right: calc(86vw / 7);
  height: 27rem;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  &--internship {
    background-color: white;
  }

  &--stranger {
    background-color: #01022a;
  }

  &--meditea {
    background-color: #faf4ee;
  }

  &--fjallraven {
    background-color: #f5ebeb;
  }

  & img {
    transform: scale(.5);
  }
}

.work__item__title {
  font-family: graphikSemibold;
  font-size: 2.7rem;
  margin-bottom: 2rem;
}
